@media (max-width: 1280px) {
    
    /* Adjust Login Form */
    #login-section {
        width: 26.125rem;
    }

    #login-form input[type="text"],
    #login-form input[type="password"] {
        font-size: 18px;
        padding: 16px;
        border: 1.25px solid var(--text);
    }

    #login-form button[type="submit"] {
        font-size: 22px;
        padding: 16px;
    }

    #change-api-key-label {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
    .loader {
        font-size: 24px;
    }

    /* Adjust Login Form */
    #login-section {
        width: 20.125rem;
    }

    #login-form input[type="text"],
    #login-form input[type="password"] {
        font-size: 1rem;
        padding: 0.94rem;
        border: 1.125px solid var(--text);
    }

    #login-form button[type="submit"] {
        font-size: 1rem;
        padding: 0.94rem;
    }

    #change-api-key-label {
        font-size: 1rem;
        cursor: none;
    }

    #playlist-id {
        padding-right: 2.625rem !important;
    }

    #toggle-password {
        padding: 0.625rem;
        cursor: none;
    }

    #eye-open {
        width: 1rem;
    }

    #eye-closed {
        width: 1rem;
    }

    .input {
        gap: 1.3125rem;
        margin-bottom: 2.625rem;
    }

    /* Adjust Incorrect Toast */
    #incorrect-popup {
        width: 21.25rem;
        border: 1.14px solid #707070;
        border-radius: 0.6rem;
        padding: 0.94rem;
    }

    .icon-text {
        gap: 0.94rem;
    }

    .cross {
        width: 1.3125rem;
        height: 1.3125rem;
        border-radius: 0.3rem;
    }

    #cross-icon {
        width: 8.5px;
        height: 8.5px;
    }

    .toast-wrapper {
        gap: 0.5rem;
    }

    .error-title {
        font-size: 1.14rem;
    }

    .error-message {
        font-size: 1rem;
    }

    .okay-button {
        font-size: 0.94rem;
        margin-top: 0.94rem;
        border: 1.14px solid #707070;
        border-radius: 0.3rem;
        padding: 0.5rem 0.6rem;
    }

    /* Adjust Video Preview */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr; /* Define the rows for mobile */
        padding: 0rem;
        gap: 0rem;
    }

    .main-video {
        border-radius: 0rem;
    }

    /* Adjust Description Section */
    .description-wrapper {
        display: none;
        max-height: 6.31rem;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .main-video-wrapper .title {
        font-size: 1.15rem;
        margin: 0.75rem 0rem 0.75rem 0.625rem;
    }

    .open-description {
        display: inline-block;
    }

    .description-wrapper.show {
        display: block;
    }

    .description-wrapper.expanded {
        max-height: none;
        overflow: visible;
    }

    .main-video-wrapper .description-wrapper {
        margin-bottom: 0.75rem;
        visibility: visible;
    }

    .main-video-wrapper .description-wrapper .description-title {
        font-size: 1rem;
    }

    .main-video-wrapper .description-wrapper .see-all {
        font-size: 1rem;
    }

    .main-video-wrapper .description-wrapper .see-all:hover {
        color: #3498db;
    }
    
    .main-video-wrapper .description-wrapper p {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    /* Adjust Playlist Section*/
    .title-logout {
        margin-top: 0rem;
    }

    .video-playlist .playlist-title {
        font-size: 1rem;
        font-weight: 500;
        color: #E0E0E0;
    }

    .logout {
        padding: 0rem 0.8rem 0rem 0.625rem;
    }

    .logout:hover {
        background: none;
        cursor: none;
    }

    #logout-icon {
        width: 14px;
        height: 14px;
    }

    #video-info {
        font-size: 1rem;
        padding-top: 0.625rem;
        padding-bottom: 0.3125rem;
    }

    .video-playlist .videos::-webkit-scrollbar {
        width: 0.28rem;
    }

    .video-playlist .videos {
        padding-bottom: 0.625rem;
    }

    .video-playlist .videos .video {
        padding: 0.625rem;
        margin-top: 0.3125rem;
    }

    .video-playlist .videos .video img {
        max-width: 7rem;
    }

    .video-playlist .videos .video h3 {
        font-size: 1rem;
    }

    .video-playlist .videos .video p {
        font-size: 1rem;
    }
}